<div class="container">

<h2 class="title">Edit Student</h2>

<table class="student-table">

<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Course</th>
<th>Phone</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let student of students">

<td>{{student.id}}</td>
<td>{{student.name}}</td>
<td>{{student.email}}</td>
<td>{{student.course}}</td>
<td>{{student.phone}}</td>

<td>
<button class="edit-btn" (click)="editStudent(student)">
✏️ Edit
</button>
</td>

</tr>

</tbody>

</table>

<div *ngIf="selectedStudent" class="edit-form">

<h3 class="title">Update Student Details</h3>

<label>Name</label>
<input type="text" [(ngModel)]="selectedStudent.name">

<label>Email</label>
<input type="email" [(ngModel)]="selectedStudent.email">

<label>Course</label>
<input type="text" [(ngModel)]="selectedStudent.course">

<label>Phone</label>
<input type="text" [(ngModel)]="selectedStudent.phone">

<button class="update-btn" (click)="updateStudent()">
Update Student
</button>

</div>

</div>